<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--HUD Start-->
		<!--Score-->
		<add key="HUD_show_score" value="false" />
		<add key="HUD_score_human" value="200" />
		<add key="HUD_score_car" value="100" />
		<add key="HUD_score_drone_crash" value="1000" />
		<add key="HUD_score_drone_dead" value="500" />
		<add key="HUD_score_helicopter_crash" value="3000" />
		
		<!--Information -->
		<add key="HUD_ShowResourceBar" value="true" />
		<add key="HUD_ShowDroneSelectionBar" value="false" />
		<add key="HUD_ShowMessageBar" value="true" />
		<add key="HUD_ShowOrderBar" value="true" />
		
		<!--HUD End-->
		
		
		
		<!--Camera-->
		<add key="HUD_ShowPIPCameraBottom" value="true" />
		<add key="HUD_ShowPIPCameraShift" value="true" />
	

		<!--Drone-->
		<add key="Scene_Drone_Count" value="10" />
		<!--Tree-->
		<add key="Scene_Tree_Count" value="3" />
		<!--Fire-->
		<add key="Scene_Fire_Count" value="5" />
		<!--People-->
		<add key="Scene_People_Count" value="10" />
		<!--Car-->
		<add key="Scene_Car_Count" value="5" />
		<!--Helicopters-->
		<add key="Scene_Helicopter_Count" value="3" />
		
		
	


	</appSettings>
</configuration>